/******************** ROOT *********************/
:root {
    /*************** head bar *************/
    --icon-color: #5b5858;

    /************* side bar *********/
    --sidebar-wd: 110px;
}

/******************* HEAD BAR ********************/
.mobile-logo {
    display: none;
}

.desktop-logo {
    display: block;
    width: 100px;
}

.search-bar-btn .fa-list-ul,
.search-bar-btn .fa-circle-question,
.search-bar-btn .fa-ellipsis-vertical {
    color: var(--icon-color);
    display: block;
}


/***************** side bar ***************/
.sidebar {
    width: var(--sidebar-wd);   
}

.icon-text {
    display: block;
}

/******************** MAIN ************************/

/************** dashboard header ***************/

.plus {
    width: 0;
    height: 0px;
    background-color: none;
    font-size: 0;
}

.type-of-app {
    display: block;
}