/******************** ROOT *********************/
:root {
    /************* side bar *********/
    --sidebar-wd: 150px;
}

/******************* HEAD BAR ********************/
.mobile-logo {
    display: none;
}

.desktop-logo {
    display: block;
}


/***************** side bar ***************/
.sidebar {
    width: var(--sidebar-wd);   
}

.icon-text {
    display: block;
}

/******************** MAIN ************************/

/************** dashboard header ***************/

.plus {
    width: 0;
    height: 0px;
    background-color: none;
    font-size: 0;
}

.type-of-app {
    display: block;
}