/******************** ROOT *********************/
:root {
    /************** common *********/
    --primary-bg-color:#F8F9FA;
    --primary-text-color: #ffffff;
    --icon-color: #5b5858;

    /************** head bar *********/
    --head-bar-height: 60px;
    --bell-color: #ff8f00;


    /************* side bar *********/
    --sidebar-wd: 60px;
    --sidebar-bg-color: #142A40;
    --sidebar-hover-bg-color:#cecece;

    /******** dashboard header ********/
    --dashboard-header-bg-color:#1b72e8;
    --type-of-plan-opt-bg-color:#165bba;

    /************* dashboard main ***************/
    --title-bg-color: #f7f7f7;
    --dashboard-box-bg-color: #ffffff;
    --thead-icon-bg-color :#f26551;
    --table-name-wd:50%;
    --table-col-wd:calc((100% - var(--table-name-wd)) / 2);

}


/******************** UTILITIES *****************/
.flex-center {
    justify-content: center;
    align-items: center;
}

.ovrflw-y {
    overflow-y: scroll;
}

.width-table-name {
    width: var(--table-name-wd);
}

.width-table-col {
    width: var(--table-col-wd);
}


/********************* COMMON ***************/

body {
    font-family:'Roboto', sans-serif;
}

img {
    max-width: 100%;
}


/******************* HEAD BAR ********************/
.head-bar {
    height: var(--head-bar-height);
    background-color: var(--primary-bg-color);
}


.head-bar-nav {
    background-color: #ffffff;
    height: calc(var(--head-bar-height) - 10px);
}


/**************** logo *************/


.mobile-logo {
    display: block;
    width: calc(var(--head-bar-height) - 10px);
    height: calc(var(--head-bar-height) - 10px);
}

.desktop-logo {
    display: none;
}


/************** search bar **************/
.search-bar {
    width: 75%;
    background-color: #e5e5e5;
    height: calc(var(--head-bar-height) - 20px);
}

.search-bar input {
    width: 90%;
    background-color: #e5e5e5;
    border: none;
    font-size: 0.9rem;
}

.search-bar input:focus-visible {
    outline: none;
}

.search-bar-btn {
    width: 10%;
    height: calc(var(--head-bar-height) - 10px);;
}

.search-bar-btn .fa-bell {
    color: var(--bell-color);
}

.search-bar-btn .fa-list-ul,
.search-bar-btn .fa-circle-question,
.search-bar-btn .fa-ellipsis-vertical {
    display: none;
}



/********************* MAIN ******************/
main {
    height: calc(100% - var(--head-bar-height));

}


/***************** SIDEBAR ***************/
.sidebar {
    width: var(--sidebar-wd);
    background-color: var(--sidebar-bg-color);
    background-image: url(../img/sidebar-bg.png);
}

.sidebar a,
.admin-setting {
    color: var(--primary-text-color);
}

.icon-text {
    display: none;
}

.sidebar-opt:hover,
.admin-setting:hover {
    background-color: var(--sidebar-hover-bg-color);
}


/************** DASHBOARD ***************/
.dashboard {
    width:calc(100% - var(--sidebar-wd));
    background-color:var(--primary-bg-color);
}


/************** dashboard header ***************/
.dashboard-header{
    background-color:  var( --dashboard-header-bg-color);
    color: var(--primary-text-color);
}

.new-student {
    color: var(--primary-text-color);
}

.dashboard-header-box {
    width: 100%;
}

.type-of-plan-opt {
    background-color: var(--type-of-plan-opt-bg-color);
    font-size: 0.7rem;
}

.plus {
    width: 25px;
    height: 25px;
}

.type-of-app {
    display: none;
    background-color: var(--type-of-plan-opt-bg-color);
    font-size: 0.7rem;
}

/************* dashboard main ***************/
.title {
    background-color: var(--title-bg-color);
    z-index: -1;
}


/******** next classes ******/
.next-classes {
    background-color: var(--dashboard-box-bg-color);
}

.tdata-icon {
    width: 26px;
    aspect-ratio: 1/1;
    background-color: var(--thead-icon-bg-color);
    color: var(--primary-text-color);
}

.change-btn,
.delete-btn {
    color: var(--icon-color);
}

.done-status::before {
    content: "done";
    background-color: green;
    color: var(--primary-text-color);
    padding: 0.1rem 0.3rem;
    border-radius: 5px;
}

.process-status::before {
    content: "process";
    background-color: #ffc107;
    color: var(--primary-text-color);
    padding: 0.1rem 0.3rem;
    border-radius: 5px;
}

.failed-status::before {
    content: "failed";
    background-color: red;
    color: var(--primary-text-color);
    padding: 0.1rem 0.3rem;
    border-radius: 5px;
}


.table-data-date,
.table-class-date {
    display: none;
}

.table-class-roi,
.table-data-roi {
    display: none;
}

tr:hover {
    background-color: var(--primary-bg-color);
}


/************** faq ***************/

.faq {
    background-color: var(--dashboard-box-bg-color);
}

details[open] > summary {
    background-color: #bfe7ffb0;
    outline: 5px solid #9ad8ffa8;
    color: var(--dashboard-header-bg-color);
}

details[open] .angle-down {
    transform: rotate(180deg);
}

.faq-section summary {
    list-style: none;
}

/************* to do list *************/
.todo {
    background-color: var(--dashboard-box-bg-color);
}

.form-check {
    padding-left: 0;
}


/*************** stats section *************/
.stats {
    background-color: var(--dashboard-box-bg-color);
}
